<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="nome" class="form-control" id="nome" placeholder="Seu Nome">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Seu E-mail">
        </div>
        <div class="form-group">
          <label for="endereco">Endereço</label>
          <input type="endereco" class="form-control" id="endereco" placeholder="Seu Endereço">
        </div>
        <button type="submit"  value="enviar" name= "envio" class="btn btn-primary">Enviar</button>
</body>
</html>